<!--The content below is only a placeholder and can be replaced.-->
<div id="animation-test" style="text-align:center">
  <h1>
    Test / Demo {{ title }}!
  </h1>
  <br>

  <img width="800" alt="Trilon Logo" src="https://trilon.io/trilon-logo-clear.png">
  <br>
</div>
<h2>Find us Online!</h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://trilon.io">Trilon.io</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://trilon.io/blog/">Trilon blog</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/trilonio">Github @TrilonIO</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://twitter.com/trilon_io">Twitter @trilon_io</a></h2>
  </li>
</ul>

<div *isServer>
  <h1>This is only visible to the Server!</h1>
</div>
<div *isBrowser>
  <h1>This is only visible to the BROWSER!</h1>
</div>

<button (click)="demoHttpPost()">Trigger Demo Http POST</button>

<pre>
  {{ postResponse | json }}
</pre>

<pre>
  {{ getResponse | json }}
</pre>

<router-outlet></router-outlet>
